* {
  margin: 0px;
}
.address-list {
  color: white;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
  padding: 3px 2px;
  font-size: x-small;
  margin: 8px;
}
.social-list {
  color: white;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
  padding: 3px 2px;
  font-size: small;
  margin-top: 8px;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}
body {
  background-image: url("images/background.jpeg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
.account {
  color: white;
  background-color: red;
  border-radius: 50px;
  padding: 10px;
  border-style: none;
}
.start {
  color: white;
  background-color: red;
  border-radius: 50px;
  padding: 10px;
  border-style: none;
  font: bolder;
}
.promo {
  color: white;
  margin: 150px 150px 50px 30px;
  font-size: xx-large;
}
.main {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
}
